@model IEnumerable<CadastroMembro>

<header>
    @Html.Partial("~/Views/Header.cshtml", ViewData["Nome"])
    <div style="background-color:black;">
        <h5 style="color:white; margin-left:10px;">Cadastro de Membros</h5>
    </div>
</header>

<div class="btn-group float-end" role="group">
    <a asp-action="NovoCadastroMembro" asp-controller="Cadastro" role="button" class="btn btn-dark">Novo</a>
</div>
<br />
<br />
<body>
    <div class="container">
        <form asp-action="Index" asp-controller="Cadastro" method="get">
            <div class="row mb-3">
                <label class="col text-black">Nome:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control w-50" name="nomeCompleto" id="nome">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">CPF:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control w-50" name="cpf" id="cpf">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">Data do Batismo:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control w-50" name="dataBatismo" id="data">
                </div>
            </div>

            <div class="btn-group float-end" role="group">
                <input type="submit" class="btn btn-dark" value="Pesquisar" />
                <button style="margin-left:10px;" onclick="LimparCampos()" class="btn btn-dark">Limpar</button>
            </div>

        </form>
    </div>
    <table class="table" style="table-layout:fixed;">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data de nascimento</th>
                <th scope="col">CPF</th>
                <th scope="col">RG</th>
                <th scope="col">Nome da mãe</th>
                <th scope="col">Nome do pai</th>
                <th scope="col">Data de Batismo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.NomeCompleto
                    </td>
                    <td>
                        @item.DataNascimento.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.CPF
                    </td>
                    <td>
                        @item.RG
                    </td>
                    <td>
                        @item.NomeMae
                    </td>
                    <td>
                        @item.NomePai
                    </td>
                    <td>
                        @item.DataBatismo.ToString("dd/MM/yyyy")
                    </td>
                    <td>  
                        <a asp-action="EditarCadastroMembro" asp-controller="Cadastro" class="btn btn-success" asp-route-id="@item.Id">
                            <i class="fas fa-edit">Editar</i>
                        </a>         
                    </td>
                    <td>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="removerMembro(@item.Id)">
                            Excluir
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <div class="col-lg-12" style="text-align: left;">
        <a asp-action="Index" asp-controller="Home" role="button" class="btn btn-dark">Voltar</a>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Atenção!!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden id="idExclusao" />
                    Tem certeza da remoção desse registro?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="ExcluirMembro()">Sim</button>
                    <button type="button" onclick="fecharModal()" class="btn btn-primary">Não</button>
                </div>
            </div>
        </div>
    </div>
</body>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    @Html.Partial("~/Views/Footer.cshtml")
</footer>

<script Script>
    function LimparCampos(){
       $("#nome").val("");
       $("cpf").val("");
       $("data").val("");
    }

    function fecharModal() {
          $('.modal').modal('hide');
          $('body').removeClass('modal-open');
          $('.modal-backdrop').remove();
    }

    function removerMembro(id){
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        myModal.show();
        $("#idExclusao").val(id);
    }

    function ExcluirMembro(){
        var excluir = $("#idExclusao").val();
          $.ajax({
                url: '/Cadastro/RemoverMembro?Id=' + excluir,
                type: 'POST',
                success: function(resposta) {
                    if(resposta){
                      location.reload();
                      $('.modal').modal('hide');
                      $('body').removeClass('modal-open');
                      $('.modal-backdrop').remove();
                      
                    }
                },
                error: function(xhr, status, error) {
                    console.log("Erro: " + error);
                }
            });
    }
</script>

