@using IgrejaBatista1.Models.ValueObjects
@model IEnumerable<CadastroPatrimonioVO>

<header>
    @Html.Partial("~/Views/Header.cshtml", ViewData["Nome"])
</header>
<br />
<br />
<br />
<div style="background-color:#212529;">
    <h5 style="color:white; margin-left:10px;">Patrimônios</h5>
</div>
<div class="btn-group float-end" role="group">
    <a asp-action="CadastroPatrimonio" asp-controller="Patrimonio" role="button" style="margin-right:5px;" class="btn btn-dark">Novo</a>
</div>
<br />
<br />
<body>
    <div class="container">
        <div class="conteudo">
            <form asp-action="Index" asp-controller="Patrimonio" method="get">
                <div class="row mb-3">
                    <label class="col text-black">Código:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control w-50" name="codigo" id="codigo">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col text-black">Nome:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control w-50" id="nome" name="nome" />
                    </div>
                </div>

                <div class="btn-group float-end" role="group">
                    <input type="submit" class="btn btn-dark" value="Pesquisar" />
                    <button style="margin-left:10px;" onclick="LimparCampos()" class="btn btn-dark">Limpar</button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="table-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th scope="col">Tipo do Departamento</th>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Setor</th>
                    <th scope="col">Data de Registro</th>
                    <th scope="col">Data da Baixa</th>
                    <th scope="col">Foto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-label="Tipo do Departamento">
                            @item.DepartamentoDescricao
                        </td>
                        <td data-label="Código">
                            @item.Codigo
                        </td>
                        <td data-label="Nome">
                            @item.Nome
                        </td>
                        <td data-label="Descricao">
                            @item.Descricao
                        </td>
                        <td data-label="Setor">
                            @item.Setor
                        </td>
                        <td data-label="Data de Registro">
                            @item.DataCriacao.ToString("dd/MM/yyyy") 
                        </td>
                        <td data-label="Data da Baixa">
                            @if (@item.DataBaixa.HasValue)
                            {
                                @item.DataBaixa.Value.ToString("dd/MM/yyyy")
                            }
                            else
                            {
                                <p></p>
                            }
                        </td>
                        <td data-label="Foto">
                            @if (!string.IsNullOrEmpty(item.Foto) && !item.Foto.Equals("Sem Foto"))
                            {
                                <img class="thumbnail image-thumb" src="@Url.Action("Imagem", "Patrimonio", new { imagemGuid = item.Foto })" width="60" height="60" alt="Imagem do patrimônio" />
                            }
                            else
                            {
                                <p>Sem Foto</p>
                            }
                        </td>
                        <td data-label="Editar">
                            <a asp-action="CadastroPatrimonio" asp-controller="Patrimonio" class="btn btn-success" asp-route-id="@item.Id">
                                <i class="fas fa-edit">Editar</i>
                            </a>
                        </td>
                        <td data-label="Excluir">
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="removerPatrimonio(@item.Id)">
                                Excluir
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-lg-12" style="text-align: left;">
        <a asp-action="Index" asp-controller="Home" role="button" style="margin-left:5px;" class="btn btn-dark">Voltar</a>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Atenção!!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden id="idExclusao" />
                    Tem certeza da remoção desse registro?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="ExcluirPatrimonio()">Sim</button>
                    <button type="button" onclick="fecharModal()" class="btn btn-primary">Não</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <span class="close" id="closeModal">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>
</body>
<br />
<footer class="footer">
    @Html.Partial("~/Views/Footer.cshtml")
</footer>

<script Script>
      function LimparCampos(){
        $("#membro").val("");
        $("#mes").val("");
        $("#ano").val("");
    }

    $(document).ready(function () {
        var modal = document.getElementById("myModal");
        var modalImage = document.getElementById("modalImage");
        var closeModal = document.getElementById("closeModal");

           $(".image-thumb").click(function () {
        var modal = document.getElementById("myModal");
        var modalImage = document.getElementById("modalImage");
        modal.style.display = "block";
        modalImage.src = this.src;
       });

         closeModal.onclick = function () {
           modal.style.display = "none";
         };

         window.onclick = function (event) {
             if (event.target == modal) {
                 modal.style.display = "none";
             }
         };
    });

    function removerPatrimonio(id){
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        myModal.show();
        $("#idExclusao").val(id);
    }

    function ExcluirPatrimonio(){
        var excluir = $("#idExclusao").val();
          $.ajax({
                url: '/Patrimonio/RemoverPatrimonio?Id=' + excluir,
                type: 'POST',
                success: function(resposta) {
                    if(resposta){
                      location.reload();
                      $('.modal').modal('hide');
                      $('body').removeClass('modal-open');
                      $('.modal-backdrop').remove();

                    }
                },
                error: function(xhr, status, error) {
                    console.log("Erro: " + error);
                }
            });
    }

     function fecharModal() {
          $('.modal').modal('hide');
          $('body').removeClass('modal-open');
          $('.modal-backdrop').remove();
    }
</script>

